
<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card my-card has-background-gradient-teal">
        <div class="my-auto mx-auto">
          <span class="fa fa-users my-icon py-3 px-4"></span>
        </div>
        <div class="my-auto px-4">
          <p class="mb-1">Clients</p>
          <h2>2435</h2>
        </div>

      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card my-card has-background-gradient-blue">
        <div class="my-auto mx-auto">
          <span class="fa fa-users my-icon py-3 px-4"></span>
        </div>
        <div class="my-auto px-4">
          <p class="mb-1">Clients</p>
          <h2>2435</h2>
        </div>

      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card my-card has-background-gradient-green">
        <div class="my-auto mx-auto">
          <span class="fa fa-users my-icon py-3 px-4"></span>
        </div>
        <div class="my-auto px-4">
          <p class="mb-1">Clients</p>
          <h2>2435</h2>
        </div>

      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card my-card has-background-gradient-orange">
        <div class="my-auto mx-auto">

          <span class="fa fa-users my-icon py-3 px-4"></span>
        </div>
        <div class="my-auto px-4">
          <p class="mb-1">Clients</p>
          <h2>2435</h2>
        </div>

      </div>
    </div>
  </div>
</div>