
<div class="container mt-5 mb-5">
    <mat-tab-group mat-align-tabs="start" class="bg-white example-stretched-tabs mat-elevation-z4" [selectedIndex]="selectedTab"
    (selectedIndexChange)="tabChange($event)" style="margin-top: 9em;">
        <mat-tab label="Guards">
            <div class="container ">
                <div class="row" *ngIf="(tableData?.length != 0)">
                    <mat-form-field class="searchMethod" class=" ml-2 d-flex justify-content-end">
                        <img matPrefix imgSrc="Web/search.png" style="height: 17px;padding-right: 1em;" />
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search by guard name" #input>
                        <mat-icon *ngIf="searchedText==''" class="material-icons searchicon" matSuffix>
                            search
                        </mat-icon>
                        <mat-icon *ngIf="searchedText!=''" matSuffix (click)="clear()">clear</mat-icon>
                    </mat-form-field>
                    <div class="col-md-12 p-0">
                        <!-- <div class="tbl-scrl"> -->
                        <table class="example-table  mat-elevation-z8" mat-table recycleRows [dataSource]="companyArr">
                            <!-- Name  -->
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.fname}}&nbsp;{{element.lname}} </td>
                            </ng-container>

                            <!-- Email -->
                            <ng-container matColumnDef="Email">
                                <th mat-header-cell *matHeaderCellDef> Email Address</th>
                                <td mat-cell *matCellDef="let element" class="text-center"> {{element.email}} </td>
                            </ng-container>

                            <!-- mobile -->
                            <ng-container matColumnDef="Phone Number">
                                <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                                <td mat-cell *matCellDef="let element" class="text-center">+91 {{element.phonenumber}}
                                </td>
                            </ng-container>

                            <!-- Username -->
                            <ng-container matColumnDef="Username">
                                <th mat-header-cell *matHeaderCellDef> Username </th>
                                <td mat-cell *matCellDef="let element" class="text-center"> {{element.username}}
                                </td>
                            </ng-container>
                            <!-- Password -->
                            <ng-container matColumnDef="Password">
                                <th mat-header-cell *matHeaderCellDef> Password </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.password}} </td>
                            </ng-container>
                            <!-- Aadhar -->
                            <ng-container matColumnDef="Aadhar">
                                <th mat-header-cell *matHeaderCellDef> Aadhar Number</th>
                                <td mat-cell *matCellDef="let element" class="text-center"> {{element.aadharno}}
                                </td>
                            </ng-container>
                            <!-- City -->
                            <ng-container matColumnDef="City">
                                <th mat-header-cell *matHeaderCellDef>City </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.city}} </td>
                            </ng-container>
                            <!-- zip -->
                            <ng-container matColumnDef="Zip Code">
                                <th mat-header-cell *matHeaderCellDef>Zip Code </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.zip}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" showFirstLastButtons>
                        </mat-paginator>
                        <!-- </div> -->
                    </div>
                </div>
                <div *ngIf="!(tableData?.length &gt;0)" class="bg-white" style="text-align: center; padding: 31px;">
                  <div style="text-align: center;font-size:20px"><b> NO RESULTS FOUND</b></div>
                  <img style="padding: 31px;" src="../../../assets/images/nodata.png " >
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Create Guards">
            <div class="container ">
                <div class="row">
                    <form [formGroup]="guardform" #myForm="ngForm" (ngSubmit)="createguard()">
                        <mat-grid-list cols="2" rowHeight="470px">
                            <mat-grid-tile>
                                <div class="bothsidewith">
                                    <!-- firstname -->
                                    <mat-form-field appearance="fill">
                                        <mat-label>First Name </mat-label>

                                        <input matInput formControlName="fname" class="feild" (keypress)="letterOnly($event)">
                                        <mat-icon matPrefix>person_outline</mat-icon>
                                        <mat-error *ngIf="guardform.controls['fname'].invalid ">
                                            <div *ngIf="guardform.controls['fname'].errors?.required">
                                                First name is required
                                            </div>
                                            <div *ngIf="guardform.controls['fname'].errors?.pattern">
                                                {{characterspattern}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- lastname -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="lname" (keypress)="letterOnly($event)">
                                        <mat-icon matPrefix>person_outline</mat-icon>
                                        <mat-error *ngIf="guardform.controls['lname'].invalid ">
                                            <div *ngIf="guardform.controls['lname'].errors?.required">
                                                Last name is required
                                            </div>
                                            <div *ngIf="guardform.controls['lname'].errors?.pattern">
                                                {{characterspattern}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- Username -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label>Username </mat-label>
                                        <input matInput formControlName="username">
                                        <mat-icon matPrefix>account_circle</mat-icon>
                                        <mat-error *ngIf="guardform.controls.username?.invalid ">
                                            <div *ngIf="guardform.controls['username'].errors?.required">
                                                {{emptyUserName}}
                                            </div>
                                            <div *ngIf="guardform.controls.username?.dirty && guardform.controls.username.errors?.minlength">
                                                {{minlengthUserName}}
                                            </div>
                                            <div *ngIf="guardform.controls.username?.dirty && guardform.controls.username.errors?.maxlength">
                                                {{maxlengthUserName}}
                                            </div>
                                            <div *ngIf="guardform.controls.username?.dirty && guardform.controls.username.errors?.pattern">
                                                {{userNamePattern}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- email -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label> Email </mat-label>

                                        <input matInput formControlName="email">
                                        <mat-icon matPrefix>email</mat-icon>
                                        <mat-error *ngIf="guardform.controls['email'].invalid ">
                                            <div *ngIf="guardform.controls['email'].errors?.required">
                                                Email is required
                                            </div>
                                            <div *ngIf="guardform.controls['email'].errors?.pattern">
                                                Email is invalid
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- PASSWORD -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label>Password </mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                            required>

                                        <mat-icon matPrefix> vpn_key</mat-icon>

                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                            'visibility'}}</mat-icon>
                                        <mat-error *ngIf="guardform.controls['password'].invalid ">
                                            <div *ngIf="guardform.controls['password'].errors?.required">
                                                Password is required
                                            </div>
                                            <div *ngIf="guardform.controls.password?.dirty && guardform.controls.password.errors?.pattern"
                                        >
                                            {{passwordPattern}}
                                        </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="bothsidewithright">

                                    <!-- Phone Number -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label> Phone Number </mat-label>
                                        <input matInput formControlName="phonenumber" type="number" maxlength="10">
                                        <!-- <mat-icon  matPrefix>phone</mat-icon> -->
                                        <span matPrefix>+91 &nbsp;</span>
                                        <br>
                                        <mat-error *ngIf="guardform.controls['phonenumber'].invalid ">
                                            <div *ngIf="guardform.controls['phonenumber'].errors?.required">
                                                Phone Number is required
                                            </div>
                                            <div
                                            *ngIf="guardform.controls.phonenumber?.dirty && guardform.controls.phonenumber.errors?.maxlength">
                                            {{maxlengthPhoneNumber}}
                                        </div>
                                        <div
                                            *ngIf="guardform.controls.phonenumber?.dirty && guardform.controls.phonenumber.errors?.pattern">
                                            {{PhoneNumberPattern}}
                                        </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- Aadhar -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label>Aadhar No</mat-label>
                                        <input type="number" matInput formControlName="aadharno" maxLength="12">
                                        <mat-icon matPrefix>receipt</mat-icon>
                                        <mat-error *ngIf="guardform.controls['aadharno'].invalid ">
                                            <div *ngIf="guardform.controls['aadharno'].errors?.required">
                                                Aadhar number is required
                                            </div>
                                            <div
                                            *ngIf="guardform.controls.aadharno?.dirty && guardform.controls.aadharno.errors?.pattern">
                                            {{AdharNumberPattern}}
                                        </div>
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- city -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label>City</mat-label>
                                        <mat-icon matPrefix> business</mat-icon>
                                        <input matInput formControlName="city" (keypress)="letterOnly($event)">
                                        <mat-error *ngIf="guardform.controls['city'].invalid ">
                                            <div *ngIf="guardform.controls['city'].errors?.required">
                                                City is required
                                            </div>
                                            <div *ngIf="guardform.controls['city'].errors?.pattern">
                                                {{characterspattern}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- zip code -->
                                    <mat-form-field appearance="fill" color="primary">
                                        <mat-label>Zip Code</mat-label>
                                        <mat-icon matPrefix> power_input</mat-icon>
                                        <input matInput type="number" formControlName="zip">
                                        <mat-error *ngIf="guardform.controls['zip'].invalid">
                                            <div *ngIf="guardform.controls['zip'].errors?.required">
                                                Zip code is required
                                            </div>
                                            <div
                                            *ngIf="guardform.controls.zip?.dirty && guardform.controls.zip.errors?.maxlength">
                                            {{maxlengthzip}}
                                        </div>
                                        <div
                                            *ngIf="guardform.controls.zip?.dirty && guardform.controls.zip.errors?.pattern">
                                            {{zipPattern}}
                                        </div>
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- address -->
                                    <mat-form-field appearance="fill" color="primary">
                                      <mat-label>Address</mat-label>
                                      <textarea  class="text" matInput
                                          formControlName="address"></textarea>
                                      <mat-icon matPrefix> pin_drop</mat-icon>
                                      <mat-error *ngIf="guardform.controls['address'].invalid ">
                                          <div *ngIf="guardform.controls['address'].errors?.required">
                                              Address is required
                                          </div>
                                      </mat-error>
                                  </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div>
                            <button mat-raised-button class="buttonRow" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

